@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #eff6ff;
  --secondary-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  position: relative;
  overflow-x: hidden;
  font-size: 14px;
  margin: 0;
  height: 100%;
}
body {
  position: relative;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

body {
  color: black;
  background: #ffffff;
}

.button {
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #ccddf3;
  color: black;
}
